secondTrial/mockDoc.rnc

namespace md = "https:kwarc.info/projects/mockDoc"

start = md:document
md:document = element document {
	 section,
	 subsection
}
section = element section {
	title,
	(p |
	 subsection)
}*
subsection = element subsection {
	   title,
	   paragraph*
}*
paragraph = element paragraph { p }
title = element title { text }
p = element p { (text |
    	      	 element break { empty })*}


									