secondTrial/mockDoc.rnc

default namespace md = "https:kwarc.info/projects/mockDoc"

start = document
document = element document {section*}
section = element section {title,(p |subsection)*}
subsection = element subsection {title,paragraph*}
paragraph = element paragraph { p }
title = element title { text }
p = element p { (text|element break { empty })*}


									
